
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yeni Nesil Menu Sistemleri | qrpandemenu.com</title>
    <link rel="icon" href="/web/img/QR-pandemenu-favicon.png" type="image/png">

    <link rel="stylesheet" href="/web/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/web/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/web/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/web/vendors/linericon/style.css">
    <link rel="stylesheet" href="/web/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/web/vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="/web/css/style.css">
</head>
<body>
    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="http://www.qrpandemenu.com"><img src="/web/img/QR-kodlu-01.png" alt="QRPandemenu Logo" width="99" height="20"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-end">

                            <li class="nav-item"><a class="button button-header bg" href="/kayitol">Ücretsiz Kayıt Ol</a></li>
                        </ul>


                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->


    <main class="side-main">
        <!--================ Hero sm Banner start =================-->
        <section class="hero-banner mb-30px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="hero-banner__img">
                            <img class="img-fluid" src="/web/img/qrcodescanner.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5 pt-5">
                        <div class="hero-banner__content">
                            <h1>Dijital Menünüzü Hemen Oluşturun</h1>
                            <p>
                                Kafe, Restoran ve Oteller İçin Yeni Nesil QR / Karekod Menü Sistemi ile menünüzü dijital ortama taşıyarak ürünlerinizi müşterilerinizin mobil cihazlarında gösterin.

                                QR Menü iPhone, iPad ve Android cihazlar ile uyumludur.
                            </p>
                            <a class="button bg" href="/iletisim">Daha Fazla Bilgi</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Hero sm Banner end =================-->
        <!--================ Feature section start =================-->
        <section class="section-margin">
            <div class="container">
                <div class="section-intro pb-85px text-center">
                    <h2 class="section-intro__title">QRPANDEMENU</h2>
                    <p class="section-intro__subtitle">
                        Temassız karekod menü misafirleriniz restoran veya cafenize geldiklerinde onlara hijyenik hizmet sunabilmek adına,
                        masaları üzerinde bulunan karekodu okutarak kendi cihazlarından menünüze ulaşmalarını ve sipariş vermelerini sağlayan sistemdir.
                    </p>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                                <span class="card-feature__icon">
                                    <i class="ti-mobile"></i>
                                </span>
                                <h3 class="card-feature__title">Gelişmiş Teknolojik Tasarım</h3>
                                <p class="card-feature__subtitle">Yeni nesil kullanıcı dostu tasarım anlayışı ile tüm cihazlarla uyumlu çalışabilir.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                                <span class="card-feature__icon">
                                    <i class="ti-notepad"></i>
                                </span>
                                <h3 class="card-feature__title">Kullanıcı Dostu Yönetim Paneli</h3>
                                <p class="card-feature__subtitle">Dakikalar içinde Karekod menünüzü oluşturabilir, sürekli menünüzü güncel tutabilirsiniz.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                                <span class="card-feature__icon">
                                    <i class="ti-cloud"></i>
                                </span>
                                <h3 class="card-feature__title">Bulut Altyapısı</h3>
                                <p class="card-feature__subtitle">Bulut altyapısı ile sınırsız ürün ve kategori ekleyebilirsiniz. Gelişmiş teknik destek hizmeti ve sürekli güncellenen program alt yapısı.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Feature section end =================-->
        <!--================ Offer section start =================-->
        <section class="section-margin bg-magnolia">
            <div class="container">
                <div class="section-intro pb-85px text-center">
                    <h2 class="section-intro__title">Neden QRPANDEMENU ?</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6">

                        <div class="row offer-single-wrapper">
                            <div class="col-lg-6 offer-single">
                                <div class="card offer-single__content text-center">
                                    <span class="offer-single__icon">
                                        <i class="ti-agenda"></i>
                                    </span>
                                    <h4>Baskıdan Tasarruf Edin</h4>
                                    <p>QR Menü ile menünüzü dijital ortama taşıyarak menü bastırmak ve güncellemek için yüksek bedeller ödemekten kurtulun.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 offer-single">
                                <div class="card offer-single__content text-center">
                                    <span class="offer-single__icon">
                                        <i class="ti-stats-up"></i>
                                    </span>
                                    <h4>Hijyenik ve Temassız Kullanım</h4>
                                    <p>Elden ele gezen, yıpranmış klasik menülere son vererek müşteri memnuniyetinizi arttırabilirsiniz.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row offer-single-wrapper">
                            <div class="col-lg-6 offer-single">
                                <div class="card offer-single__content text-center">
                                    <span class="offer-single__icon">
                                        <i class="ti-server"></i>
                                    </span>
                                    <h4>Kişiselleştirilebilen Adres Yapısı</h4>
                                    <p>Dilerseniz Karekodlu QR Menünüzü kendi domaininiz üzerinde göstererek kurumsallığınıza olumlu katkı sağlayabilirsiniz.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 offer-single">
                                <div class="card offer-single__content text-center">
                                    <span class="offer-single__icon">
                                        <i class="ti-stamp"></i>
                                    </span>
                                    <h4>İş Yükünü Azaltın</h4>
                                    <p>Garsonun menü götürüp getirmesinden kaynaklanan iş yükü ve zaman kaybı ortadan kalkar.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="offer-single__img" style="padding-left: 90px;">
                            <img class="img-fluid" src="/web/img/phonevector.png" alt="" style="width:325px;">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Offer section end =================-->
    </main>


    <!-- ================ start footer Area ================= -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="footer-bottom row align-items-center text-center text-lg-left">
                <p class="footer-text m-0 col-lg-8 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır | qrpandemenu.com tarafından hazırlanmıştır.
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                    <a href="https://www.facebook.com/QR-Pandemenu-104362961380411/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/qrpandemenu/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- ================ End footer Area ================= -->
    @if (TempData["teklif"] != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Mesajınız alındı. En kısa zamanda sizlere ulaşacağız.',
                showConfirmButton: false,
                timer: 1500
            });
        </script>
    }
    <script src="/web/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/web/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/web/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/web/js/jquery.ajaxchimp.min.js"></script>
    <script src="/web/js/mail-script.js"></script>
    <script src="/web/js/main.js"></script>
</body>
</html>