
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yeni Nesil Menu Sistemleri | qrpandemenu.com</title>
    <link rel="icon" href="/web/img/QR-pandemenu-favicon.png" type="image/png">

    <link rel="stylesheet" href="/web/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/web/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/web/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/web/vendors/linericon/style.css">
    <link rel="stylesheet" href="/web/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/web/vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="/web/css/style.css">
</head>
<body>
    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="http://www.qrpandemenu.com"><img src="/web/img/QR-kodlu-01.png" alt="QRPandemenu Logo" width="99" height="20"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-end">

                            <li class="nav-item"><a class="button button-header bg" href="/kayitol" target="_blank">Ücretsiz Kayıt Ol</a></li>
                        </ul>


                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->
    <!--================ Hero sm Banner start =================-->
    <section class="hero-banner hero-banner--sm mb-30px">
        <div class="container">
            <div class="hero-banner--sm__content">
                <h1>İletişim bilgilerinizi bırakın sizi arayalım.</h1>
            </div>
        </div>
    </section>
    <!--================ Hero sm Banner end =================-->
    <!-- ================ contact section start ================= -->
    <section class="section-margin">
        <div class="container">



            <div class="row">
                <div class="col-md-4 col-lg-3 mb-4 mb-md-0">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>Silivri / İstanbul</h3>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-mobile"></i></span>
                        <div class="media-body">
                            <h3>+90 536 978 7953</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-9">
                    <form class="form-group" action="/Home/Offer" method="post">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <input class="form-control" name="isim" type="text" placeholder="İsim Soyisim" required="" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="email" type="email" placeholder="E-Mail Adresi" required="" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="tel" type="tel" placeholder="Telefon Numarası" required="" maxlength="15" />
                                </div>
                                @*<div class="form-group">
                                    <input class="form-control" name="isim" type="text" placeholder="Firma Adı" required="" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="isim" type="text" placeholder="Adres" required="" />
                                </div>*@
                            </div>

                            <div class="col-lg-7">
                                <div class="form-group">
                                    <textarea class="form-control different-control w-100" name="mesaj" cols="30" rows="5" placeholder="Mesaj" required=""></textarea>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group text-center text-md-right mt-3">
                            <button type="submit" class="button button-contactForm">Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ contact section end ================= -->
    <!-- ================ start footer Area ================= -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="footer-bottom row align-items-center text-center text-lg-left">
                <p class="footer-text m-0 col-lg-8 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır | qrpandemenu.com tarafından hazırlanmıştır.
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                    <a href="https://www.facebook.com/QR-Pandemenu-104362961380411/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/qrpandemenu/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- ================ End footer Area ================= -->

    <script src="/web/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/web/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/web/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/web/js/jquery.ajaxchimp.min.js"></script>
    <script src="/web/js/mail-script.js"></script>
    <script src="/web/js/main.js"></script>
</body>
</html>
